<!-- Describe task in general -->

<p style="text-align: justify;">
    红眼船长和他的水手们发现了一个装有大量相同金币的箱子。为了瓜分金币，大家同意了船长的建议：
</p>

<p style="text-align: justify;">
    <ul>
     <li>除船长外，每个水手都应得到数量完全相同的金币；</li>
     <li>船长得到的金币应该是水手的两倍。</li>
    </ul>
</p>

<p style="text-align: justify;">
    可能是因为船长是船上唯一有手枪的人，所以大家都同意了，但事实也是如此，按照提议的形式，硬币的分配是完美的，没有剩余或遗漏。
</p>

<p style="text-align: justify;">
    给定箱子里的硬币数量和水手人数，编写一个程序来确定红眼船长得到了多少硬币。例如，输入<code>15, 1</code> ：
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}divide-gold.svg" alt="example" style="max-height: 300px"/>
</p>
<!-- Explain input and output values -->
<p>
   <strong>输入：</strong>两个整数 <span>({% if is_js %}number{% else %}int{% endif %})</span>
</p>

<p>
   <strong>输出： 两个整数</strong>整数。
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>示例</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

