<!-- Describe task in general -->

<p style="text-align: justify;">
    Капітан Червоне Око та його матроси знайшли скриню з великою кількістю однакових золотих монет. Щоб розділити монети, всі погодилися на пропозицію капітана:
</p>

<p style="text-align: justify;">
    <ul>
     <li>кожен матрос, окрім капітана, повинен отримати однакову кількість монет;</li>
     <li>капітан повинен отримати вдвічі більше монет, ніж матрос.</li>
    </ul>
</p>

<p style="text-align: justify;">
    Можливо, той факт, що капітан був єдиним, хто мав пістолет на борту, сприяв загальній згоді, але також і те, що в запропонованій формі розподіл був ідеальним - жодної монети не залишилося зайвої або зниклої.
</p>

<p style="text-align: justify;">
    За заданою кількістю монет у скрині та кількістю матросів напишіть програму, яка визначить, скільки монет отримав капітан Червоне Око. Наприклад, для вхідних даних <code>15, 1</code>:
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}divide-gold.svg" alt="example" style="max-height: 300px"/>
</p>
<!-- Explain input and output values -->
<p>
   <strong>Вхідні дані:</strong> Два цілих числа <span>({% if is_js %}number{% else %}int{% endif %})</span>
</p>

<p>
   <strong>Вивести:</strong> Ціле число.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

