<!-- Describe task in general -->

<p style="text-align: justify;">
    Le capitaine Œil rouge et ses marins ont trouvé un coffre contenant un grand nombre de pièces d'or identiques. Pour partager les pièces, tout le monde est d'accord avec la suggestion du capitaine:
</p>

<p style="text-align: justify;">
    <ul>
     <li>chaque marin, sauf le capitaine, doit recevoir exactement le même nombre de pièces;</li>
     <li>le capitaine doit recevoir deux fois plus de pièces qu'un marin.</li>
    </ul>
</p>

<p style="text-align: justify;">
    Il est possible que le fait que le capitaine soit le seul à avoir un pistolet à bord ait contribué à l'accord de tous, mais aussi le fait que, sous la forme proposée, la répartition était parfaite, sans pièces manquantes ou excédentaires.
</p>

<p style="text-align: justify;">
    Étant donné le nombre de pièces dans le coffre et le nombre de marins, écrivez un programme pour déterminer le nombre de pièces reçues par le capitaine Red Eye. Par exemple, pour <code>15, 1</code> input:
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}divide-gold.svg" alt="example" style="max-height: 300px"/>
</p>
<!-- Explain input and output values -->
<p>
   <strong>Entrée:</strong> Deux entiers <span>({% if is_js %}number{% else %}int{% endif %})</span>
</p>

<p>
   <strong>Sortie:</strong> Entier.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Exemples:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

