<!-- Describe task in general -->

<p style="text-align: justify;">
    Captain Red Eye and his sailors found a chest containing a large number of identical gold coins. To divide up the coins, everyone agreed to the Captain's suggestion:
</p>

<p style="text-align: justify;">
    <ul>
     <li>each sailor except the Captain should receive exactly the same number of coins;</li>
     <li>the captain should receive twice as many coins as a sailor.</li>
    </ul>
</p>

<p style="text-align: justify;">
    It may be that the fact that the Captain was the only one with a pistol on board contributed to everyone's agreement, but so did the fact that in the proposed form the division was perfect, with no Coins left over or missing.
</p>

<p style="text-align: justify;">
    Given the number of coins in the chest and the number of sailors, write a program to determine how many coins Captain Red Eye received. For example, for <code>15, 1</code> input:
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}divide-gold.svg" alt="example" style="max-height: 300px"/>
</p>
<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> Two integers <span translate="no">({% if is_js %}number{% else %}int{% endif %})</span>
</p>

<p>
    <strong>Output:</strong> Integer.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Examples:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

