<!-- Describe task in general -->

<p style="text-align: justify;">
    Kapitän Red Eye und seine Matrosen fanden eine Truhe mit einer großen Anzahl identischer Goldmünzen. Um die Münzen aufzuteilen, stimmten alle dem Vorschlag des Kapitäns zu:
</p>

<p style="text-align: justify;">
    <ul>
     <li>jeder Matrose außer dem Kapitän sollte genau die gleiche Anzahl von Münzen erhalten;</li>
     <li>der Kapitän sollte doppelt so viele Münzen erhalten wie ein Matrose.</li>
    </ul>
</p>

<p style="text-align: justify;">
    Möglicherweise trug die Tatsache, dass der Kapitän als einziger eine Pistole an Bord hatte, zur Zustimmung aller bei, aber auch die Tatsache, dass die Aufteilung in der vorgeschlagenen Form perfekt war und keine Münzen übrig blieben oder fehlten.
</p>

<p style="text-align: justify;">
    Schreiben Sie angesichts der Anzahl der Münzen in der Truhe und der Anzahl der Matrosen ein Programm, um zu ermitteln, wie viele Münzen Kapitän Red Eye erhalten hat. Zum Beispiel für die Eingabe <code>15, 1</code>:
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}divide-gold.svg" alt="example" style="max-height: 300px"/>
</p>
<!-- Explain input and output values -->
<p>
   <strong>Eingabe:</strong> Zwei ganze Zahlen <span>({% if is_js %}number{% else %}int{% endif %})</span>
</p>

<p>
   <strong>Ausgabe:</strong> Ganzzahl.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Beispiele:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

