<!-- Describe task in general -->

<p style="text-align: justify;">
    Kapitan Red Eye i jego marynarze znaleźli skrzynię zawierającą dużą liczbę identycznych złotych monet. Aby podzielić monety, wszyscy zgodzili się na propozycję kapitana:
</p>

<p style="text-align: justify;">
    <ul>
     <li>każdy marynarz z wyjątkiem Kapitana powinien otrzymać dokładnie taką samą liczbę monet;</li>
     <li>kapitan powinien otrzymać dwa razy więcej monet niż marynarz.</li>
    </ul>
</p>

<p style="text-align: justify;">
    Być może fakt, że Kapitan był jedyną osobą z pistoletem na pokładzie, przyczynił się do zgody wszystkich, ale także fakt, że w proponowanej formie podział był idealny, bez żadnych monet, które pozostały lub których brakowało.
</p>

<p style="text-align: justify;">
    Biorąc pod uwagę liczbę monet w skrzyni i liczbę marynarzy, proszę napisać program, który określi, ile monet otrzymał kapitan Red Eye. Na przykład dla danych wejściowych <code>15, 1</code>:
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}divide-gold.svg" alt="example" style="max-height: 300px"/>
</p>
<!-- Explain input and output values -->
<p>
   <strong>Wejście:</strong> Dwie liczby całkowite <span>({% if is_js %}number{% else %}int{% endif %})</span>
</p>

<p>
   <strong>Wyjście:</strong> Liczba całkowita.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Przykłady:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

